doctype html
html
    head
        title #{pageTitle} · #{siteTitle}
        link(rel="stylesheet" href="assets/style.css")
    body
        include components/header
        include components/aside
        main
            
        include components/footer