doctype html
html
    head
        title 文章列表 · #{serverName}
        link(rel="stylesheet" href="/assets/style.css")
    body
        include components/aside
        main
            section.main-article

