html
    head
        title #{title}
        link(rel="stylesheet" href="assets/style.css")
    body
        include components/Header
        main
            include components/Aside
            main
                section.main-article
                    article !{content}