doctype html
html
    head
        title #{title} · #{serverName}
        link(rel="stylesheet" href="assets/style.css")
        link(rel="stylesheet" href="assets/prism.css")
        script(src="assets/prism.js")
    body
        include components/header
        include components/nav
        main
            section.article-list
                each item in blogData
                    article
                        .post-header
                            a(href="")
                                h2=item.title
                        .post-body=item.intro
                        .post-button
                            a(href="") 阅读全文 »
                        .post-footer
                            .post-eof