doctype html
html
    head
        title #{pageTitle} · #{siteTitle}
        link(rel="stylesheet" href="assets/style.css")
    body
        include components/header
        include components/aside
        main
            section.article-list
                each item,index in blogData
                    article.col-md-6
                        .post-header
                            a(href="")=item.title
                        .post-body=item.intro
                            .post-button
                                a(href="") 阅读全文 »
                        .post-footer
                            .post-eof
                    if index % 2 !== 0
                        .block
        include components/footer