html(class="is_dark")
    head
        title STORES
        link(rel="stylesheet" href="assets/style.css")
    body
        include components/header
        main 
            include components/aside
            section(class="main-section")