aside
    ul
        li(class="header") 我的
        li(class="active")
            a(href="") 简介
        li
            a(href="") aa
        each val, index in {listData}
            li
                a(href="")= val