header 
    h1(class="title") STORES
    nav 
        ul 
            li(class="flex-grow")
            li 
                a(href="https://github.com/felix-hhh/stores" class="github-logo" target="_blank")