header
    nav 
        div(class="title")
            h1 #{serverName}
        div(class="flex-grow")
        div
            a(href="https://github.com/felix-hhh/stores" target="_blank")
                img(src="assets/github-logo.svg" class="github-logo")